{% extends 'base.html' %}

{% block head %}
<title>About Us</title>
{% endblock %}

{% block body %}
<div class="about-section">
    <h1 style="color:white;">About Us Page</h1>
    <p style="color:white;">We all are currently undergrads at Southern Illinois University - Carbondale.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="" alt="Simon" style="width:100%">
        <div class="container">
          <h2>Simon Markus</h2>
          <p class="title">undergrad-senior</p>
          <p>Tell us about you.</p>
          <p>Contacts</p>
          <p>Email: simon.markus@siu.edu</p>
          <p>GitHub: Markusovich</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="aboutusprofilepicTyler.jpg" alt="Tyler" style="width:100%">
        <div class="container">
          <h2>Tyler Bishop</h2>
          <p class="title">undergrad-senior BA-Computer Science</p>
          <p>I will be graduating in fall 2021. </p>
          <p>Contacts</p>
          <p>Email: tyler.bishop@siu.edu</p>
          <p>GitHub: tyler-bishop</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="" alt="Isaiah" style="width:100%">
        <div class="container">
          <h2>Isaiah Overton</h2>
          <p class="title">undergrad-senior</p>
          <p>Tell us about you.</p>
          <p>Contacts</p>
          <p>Email: isaiah.overton@siu.edu</p>
          <p>GitHub: rashawnoverton</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}