{% extends 'base.html' %}

{% block head %}
<title>About Us</title>
{% endblock %}

{% block body %}
<br><br>
  <div class='container'>
    <div class="about-section">
      <h1 style="text-align:center; color:white;">About Us Page</h1>
      <p style="text-align:center; color:white;">We all are currently undergrads at Southern Illinois University - Carbondale.</p>
    </div>
    <h2 style="text-align:center; color:white;">Our Team</h2>
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='A65C899E-4896-4D87-B736-4591838EE16A_1_105_c.jpeg') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Simon Markus</h5>
          <p class="card-text">undergrad-senior</p>
          <p class="card-text">Contacts</p>
          <p class="card-text">Email: simon.markus@siu.edu</p>
          <p class="card-text">GitHub: Markusovich</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='aboutusprofilepicTyler.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tyler Bishop</h5>
          <p class="card-text">undergrad-senior BA-Computer Science</p>
          <p class="card-text">Contacts</p>
          <p class="card-text">Email: tyler.bishop@siu.edu</p>
          <p class="card-text">GitHub: tyler-bishop</p>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br>
{% endblock %}