<!DOCTYPE HTML>

<head>
    <title> Map </title>
    <style>
        body {
            margin: auto;
            background: url("https://images.unsplash.com/flagged/photo-1584036561584-b03c19da874c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2378&q=80") no-repeat center fixed;
            background-size: cover;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <br>
    <div style="text-align: center;">
        <h1 style="color: white; text-shadow: black 0px 0px 10px;">{{ searchby }}</h1>
        <h1 style="color: white; text-shadow: black 0px 0px 10px;">{{ daterange }}</h1>
    </div>
    <br>
    <div style="position: fixed; left: 50%; -webkit-transform: translate(-50%); transform: translate(-50%);">
        {% include "map.html" %}
    </div>
</body>

</html>