{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-9 mx-auto">
            <h1>Welcome</h1>
            <p>The COVID-19 pandemic continues to be a major disruptor in the United States. As a response to this
                unprecedented crisis, the CDC has made publicly available daily data on the number of cases and death
                count by county and date. The goal of this project will be to create a visualization and data export
                tool for historical data on the number of casts and deaths related to COVID-19.</p>
            <p>
                <a class="btn btn-outline-danger" href="/datavisualizationstate" role="button"> State
                    Visualization </a>
            </p>
            <p>
                <a class="btn btn-outline-danger" href="/datavisualizationcounty" role="button"> County
                    Visualization
                </a>
            </p>
            <p>
                <a class="btn btn-outline-danger" href="/datasearchstate" role="button"> State Graph </a>
            </p>
            <p>
                <a class="btn btn-outline-danger" href="/datasearchcounty" role="button"> County Graph </a>
            </p>
        </div>
    </div>
</main>
{% endblock %}